body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #664785, #120538 100vh);
  background-attachment: fixed;    /*esto hace en respecto a la pantalla*/
  overflow-wrap: break-word;   /* salto de linea en la pagina */
  word-break: normal; 
}

.encabezado {
  background-color: rgba(0, 0, 0, 0.4);
  /* color de fondo */
  color: rgb(255, 255, 255);
  /* color del texto */
  height: auto;
  /* alto del segmento */
  width: flex;
  display: flex;
  /* para alinear contenido */
  align-items: center;
  /* centra verticalmente */
  justify-content: center;
  /* separa logo y título */
  padding: 0 30px;
  /* margen interno */
}

.logo {
  width: 100px;
  /* tamaño del logo */
  height: 100px;
  display: flex;
}


.titulo {
  font-size: 35px;
  margin: 2 20;

}

.titulo2 {
  font-size: 15px;
  margin: 0;


}

/*nadvar*/
.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: end;

}






/*INICIO*/
.Redes {
  background-color: white;
  height: auto;
  width: 50%;
  padding: 0 8px;
  margin: 5px 0px 0px 0px;
  display: flex;          /* convierte cada texto suelto en un hijo flex */
  word-spacing: "\A";
  flex-direction: column; /* los apila verticalmente */
  border-radius: 20px;
}


.Folletos{
  background-color: white;
  margin: 12px 0px;
}


/*.cuarota {
  background-color: aqua;
  height: auto;
  width: auto;
  transition: all 0.3s ease-out;
}

.cuarota:hover {
  transform: scale(1,1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}*/



.cua2{
  background-color: rgb(24, 122, 122);
  height: 30vh;
  width: 30vh;
  transform: translate(100px, 1180px);
}

.cua3:hover{
  background-color: rgb(33, 19, 159);
  height: 30px;
  width: 30px;            /*arreglar el lineado de ctivacion*/
  animation: rotate 3s infinite linear;
}


/*CONTENIDO*/

.que{
  background-color: black;
  width: 30px;
  height: 40px;
   ;
}
.que:hover{
  
  transform: rotate(90° 3s infinite);
}
